<md-dialog aria-label="Agregar un producto">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Agregar un producto: {{product.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
				<form accept-charset="utf-8" name="productForm">
					<div layout="row" layout-xs="column">
						<md-input-container>
							<label>Nombre</label>
							<input type="text" ng-model="product.name">
						</md-input-container>
						<md-input-container>
							<label>Precio</label>
							<input type="text" ng-model="product.price">
						</md-input-container>
						<md-input-container>
							<label>Categoria</label>
							<md-select ng-model="product.category">
							  <md-option><em>None</em></md-option>
		            <md-option ng-repeat="cat in ['Playeras', 'Leggins', 'Pantalones']">
		              {{cat}}
		            </md-option>
		          </md-select>
						</md-input-container>
					</div>
					<md-input-container>
							<label>Descripcion</label>
							<textarea ng-model="product.description"></textarea>
						</md-input-container>
				</form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button>
        Save
      </md-button>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
